body{
    text-align: center;
}

h1::before, h1::after{
    content: url(./img/NikonD100_40x30.jpg);
}

.images img{
    display: inline-block;
}

p{
    text-align: left;
}

.article p::first-line{
    font-weight: bold;
    color: red;
}

.article p::first-letter{
    font-size: 44px;
    font-weight: bold;
    float: left;
    padding-right: 3px;
    padding-top: 3px;
    line-height: 35px;
}

.article p:first-child::first-line{
    color: black;
}

.article p:first-child::first-letter{
    color: red;
}